{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>

<html lang="fr">

<head>

   <link rel="stylesheet" href="/media/css/style.css" />

   <title>{% block title %}Form{% endblock %}</title>

</head>

<body>

<header><h1>Form</h1></header>
    <nav>

       {% block nav %}

       <ul>
            <li><p>La date actuelle est : {{ date }}</p></li
            <li><a href="/">Home</a></li>
       </ul>

       {% endblock %}

   </nav>

   {% bootstrap_messages %}

    <!--{# Display a form #}
    <form action="/url/to/submit/" method="post" class="form">
        {% csrf_token %}

        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
        {% endbuttons %}
    </form>

    <section id="content">

        {% block content %}{% endblock %}

   </section>!-->

<footer>&copy; CbCorp</footer>

</body>

</html>

